<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/servicios.css') }}">
</head>

<body>

    <div class="container">

        <header class="header">
            <h1>Servicios</h1>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="header-logo">
        </header>

        <nav class="nav">
            <a href="/dashboard_cliente" class="nav-link">Inicio</a>
            <a href="/reservar" class="nav-link">Reservar</a>
            <a href="/servicios" class="nav-link">Servicios</a>
            <a href="/cerrar_reserva" class="nav-link">Cerrar Reserva / Pagar</a>
            <a href="/logout" class="nav-link">Cerrar Sesión</a>

            <button id="toggle-dark" class="nav-link nav-toggle" type="button">
                🌙 Modo oscuro
            </button>
        </nav>

        <main>
            <h2>Servicios disponibles</h2>

            <form method="POST" action="/servicios" class="form-card">

                <div class="form-group">
                    <label>Servicio</label>
                        <select name="id_servicio">
                            <option value="">No quiero agregar servicios</option>

                            {% for s in servicios %}
                            <option value="{{ s.id_servicio }}">
                                {{ s.nombre }} - ${{ s.precio }}
                            </option>
                            {% endfor %}
                        </select>

                </div>

                <div class="form-group">
                    <label>Cantidad</label>
                    <input type="number" name="cantidad" min="1" required>
                </div>

                <button type="submit" class="btn">Agregar servicio</button>

            </form>
        </main>

    </div>

    <script>
        const toggle = document.getElementById('toggle-dark');
        const body = document.body;

        if (localStorage.getItem('dark-mode') === 'true') {
            body.classList.add('dark');
        }

        toggle.addEventListener('click', () => {
            body.classList.toggle('dark');
            localStorage.setItem('dark-mode', body.classList.contains('dark'));
        });
    </script>

</body>

</html>



